<ul class="nav" role="menu">
    <li class="nav-home" role="menuitem"><a href="{{site.baseurl}}">Home</a></li>
    <li class="nav-about" role="menuitem"><a href="{{site.baseurl}}andrei/">🔥 CV & About</a></li>
    <li class="nav-getting-started" role="menuitem"><a href="{{site.baseurl}}tag/projects/">🚧 Projects</a></li>
    <li class="nav-try-ghost" role="menuitem"><a href="https://github.com/AndreiChenchik" target="_blank">☢️ GitHub</a></li>
    <li class="nav-try-ghost" role="menuitem"><a href="ipns://chenchik.me" target="_blank">🐌 ipfs mirror</a></li>
</ul>
